<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post update</title>
</head>
<body>
    <h1>Update post</h1>
    <form action="{{ url_for('post_update', id=post.id)}}"  method='POST'>
        <div><input type="text" name="photo_url" value="{{ post.post_url}}"></div>
        <div><input type="text" name="name" value="{{post.name}}"></div>
        <div><textarea name="body" value="{{post.body}}" cols="30" rows="10"></textarea></div>
        <div><input type="submit" value="Update"></div>
    </form>
</body>
</html>